PORT=18080
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=change-this-in-real-use
JWT_EXPIRES_IN_DAYS=7
DB_HOST=localhost
DB_PORT=3306
DB_NAME=gradquest
DB_USERNAME=gradquest
DB_PASSWORD=GradQuest123!
INITIAL_COINS=140
